body{
    font-family: 'Roboto', sans-serif;
}
section{
    display: flex;
    margin-bottom: 5%;
}
.half-width{
    width:50%;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.half-width img{
    width:60%;
    margin:5%;
}
.orange{
    color:orangered;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,blue);
    padding: 10px 40px;
    color:white;
    font-weight:700 ;
}
h1{
    font-size: 45px;
}
.resume-button{
    text-decoration: none;
   background-image: linear-gradient(tomato,orange);
    color:aliceblue;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.full-width{
    width:50%;
    margin: 6%;
    box-shadow: 10px 20px 30px;
    border-left:10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
   
}
#wow{
    border-left:10px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;
}